div.project-container {
display: flex;
flex-direction:row;
align-items: center;
min-height: 300 px;
padding: 45px 50 px;
merging: 20px 0;
}
.blue {
background-color: #0d023b;

.project-container {
width: 100%;
max-width: 1300px;
height: auto;
}

*{
box-sizing: border-box:
}
div.project-text-container {
	display: inline-block;
	padding: 0px 50px 0px 0px;
.light {
	color: white:}